<h1> Add Reviews </h1>

<form action="/reviews" method="post">
  <div class="form-control">
    <input class="form-group" type="text" placeholder="enter your name" name="name">
  </div>
  <div class="form-control">
    <textarea class="form-group" type="review" name="textarea" rows="10" cols="20">Write Your Review Here</textarea>
  </div>
</form>
